*{ 
margin: 0;
padding: 0;
}

li {
    list-style-type: none; 
   }

nav{
    padding:40px 0 0 ;
    margin: 0 50px;
    font-family: 'Comfortaa', cursive;
   
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.list{
   
    display: flex;
    
   
}
.list-item{
    
    padding: 0 30px;
}
.list-item:hover{
    color:aqua ;
   
    border-bottom: 2px solid aqua;
}

.right-side-item{

    padding: 0 8px;
}
.right-side-item-href{
    color:#777777;
}
.lang{
    margin: 0 16px;
  
    border-right: 2px solid black;
    border-left: 2px solid black;
}
